.main {
  display: flex; /* horizontal by default */
  height: 98vh; /* full viewport height */
  width: 98vw; /* full viewport width */
}

.sidebar {
}

.content {
  flex: 1; /* take up remaining space */
  overflow: auto; /* scroll if needed */
  padding: 20px; /* add some padding */
}
