<div>
  <div>
    <button (click)="triggerFileSelect()">Upload Image</button>
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
  </div>
    <div class="add-label">
    <!-- input field to create new label and add to labellist-->
    <input type="text" [(ngModel)]="newLabel" placeholder="New Label">
    <button (click)="addLabel()">Add</button>
  </div>
</div>
<div class="image-page">
  <!-- Left Vertical List -->
  <div class="left-side-list">
    <div *ngFor="let label of labelList">
      <label>
        <input
          type="checkbox"
          [value]="label"
          [checked]="isLabelSelected(label)"
          (change)="onLabelToggle(label, $event)"
        />
        {{ label.name }}
      </label>
    </div>
  </div>


  <!-- Center Area -->
  <div class="center-part">
    <!-- Top part: Selected image -->
    <div class="selected-image" *ngIf="selectedImage">
      <h3>{{ selectedImage.fileName }}</h3>
      <img [src]="'data:image/png;base64,' + selectedImage.fileBase64" alt="Selected Image">
    </div>

    <!-- Bottom part: Horizontal image list -->
    <div class="image-list-horizontal">
      <div *ngFor="let img of imageList" class="image-item" (click)="selectImage(img)">
        <h4>{{ img.fileName }}</h4>
        <img [src]="'data:image/png;base64,' + img.fileBase64" alt="Image">
      </div>
    </div>
  </div>

  <!-- Right Vertical List -->
  <div class="right-side-list">
    <h4>Selected Labels</h4>
    <ul>
      <li *ngFor="let label of selectedLabels">{{ label.name }}</li>
    </ul>
  </div>
</div>
